@charset "utf-8";

@font-face{
	font-family:'Roboto';
	src:url('fonts/roboto/Roboto-Light.ttf');
}

*{
    font-family: 'Roboto';
    box-sizing: border-box;
    color: #212121;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.IntfHead{
    width: 100%;
    height: 10%;
    display: block;
    box-shadow: 0 1px 4px rgba(0,0,0,0.10), 0 2px 2px rgba(0,0,0,0.13);
    background-color: rgba(255, 87, 34, 0)
}

.IntfHead:before{
    content: "";
    display: block;
    width: 284px;
    height: 41px;
    float: left;
    margin: 1.5px 258px;
}

#logo{
	position: absolute;
	top: 1%;
	left: 2%;
}


.Body-page{
    width: 100%;
    text-align: center;
	height: 90%;
}

.Body-page-Sec1{
    width: 90%;
	margin: 1% 5%;
	text-align: left;
	display: inline-block;
	font-size: 25px;
}

.Body-page-Sec2{
    width: 90%;
    min-height: 450px;
    margin: 3% 35%;
}

#places{
	width: 25%;
	margin: 3% 5%;
	position: absolute;
}

.Table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 10px;
}

.Table tr{
    padding: 5px;
}


.Table th{
    color:white;
    background-color: rgb(186, 183, 183);
}

select#soflow, select#soflow-color {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 20px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 300px;
 }
 
 select#soflow-color {
	color: #fff;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
	background-color: #779126;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-left: 15px;
 }

#map{
	width: 60%;
	float: left;
}

.Loader {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 8px solid #fff;
    border-right-color: #3998e9;
    margin: 15px auto;
    animation: spinner 850ms ease infinite;
    will-change: animation;
    border-left-color: #3998e9;
}

.Lbl_Loader{
    margin: auto;
    text-align: center;
    font-size: 25px;
}

@keyframes spinner{
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(360deg);
    }
}
